@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.7;
}
ul li{
    list-style: none;
}

a{
    font-size: 20px;
    text-decoration: none;
}
p,li{
    font-size: 20px;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.music{
    border: 2px solid black;
    opacity: 1;
}




.header{
    position: relative;
    height: 95vh;
    background: url('../images/home.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgba(0, 0, 0, 0.89));
}

.header .navbar a,
.header .logo{
     color:purple;}
.header .navbar .logo{
    float: left;
}
.header .navbar .nav-items{
    float: right;
}
.navbar::after{
    content: "";
    display: block;
    clear: both;
}
.header .navbar .nav-item{
    display: inline-block;
    padding: 8px;
    border: 1px solid transparent;
}.header .navbar .nav-items .active,
.header .navbar .nav-items .hover:hover{
    color:white;
    background-color:purple;
}
.header .navbar .nav-items .hover{
    padding: 5px 10px;
    transition: 0.6s ease;
}

/*############_____________PHOTO GALLARY-START_____________################*/
.photo-gallary{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.photo-gallary .myself{
    box-sizing: border-box;
    border: 1px solid green;
    margin-right: 130px;
    padding: 30px;
    box-shadow: 5px 5px 20px 0px #aaa;   
}
.photo-gallary .myself .shubham{
    color: blue;
}
body .my-skills{
    color: purple;
    font-size: 25px;
    font-weight: 500;
}
.photo-gallary .myself h2{
    font-size: 26px;
    font-weight: 500;
    line-height: 100px;
color: purple;
}
.photo-gallary .myself p{
    font-size: 19px;
    font-weight: 300;
}

/*##############_____SKILLS_________###############*/
.skills{
    display: flex;
    margin: 25px 0px;
    flex-direction: row;
    justify-content: space-between;
}
.s-box-icon{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}
.s-box-text strong{
color: #1c3548;
margin: 0px;
font-weight: 600;
}
.fa-html5{
    color: #e06061;
}
.fa-css3-alt{
    color: #416cdf;
}
.fa-js-square{
    color: #f98231;
}
.fa-php{
    color: #8993be;
}
.fa-python{
    color: #4B8BBE;
}

/*###################__________FOOTER CONTENT___________####################*/
.footer-content{
    background-color: #00000096;
    animation-name: change-footer;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
    animation-delay: 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes change-footer{
    from{
        background-color: #00000096;
    }
    to{
        background-color: #000000;
    }
}


.footer-content li{
    list-style: none;
}
.footer-content .social-media{
    display: flex;
    justify-content: center;
    align-content: space-between;
    padding: 20px;
}
.footer-content .social-media a{
    font-size: 40px;
    padding: 20px;
}
.footer-content .social-media a :hover{
color: palevioletred;
}
.footer-content .social-media a :active{
    color: green;
    }

.footer-content h2{
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    color: black;
    animation: footer-h2 10s ease-in-out 4s 1 forwards;
}
@keyframes footer-h2{
    0%{
      color: black;
    }
    5%{
        color:rgba(0, 0, 0, 0.658);
    }
    10%{
        color: rgba(0, 0, 0, 0.281);
    }
    15%{
        color: rgba(0, 0, 0, 0.062);
    }
    18%{
        color: rgba(255, 255, 255, 0.288);
    }
    20%{
        color: rgba(255, 255, 255, 0.473)
    }
    22%{
        color: rgba(255, 255, 255, 0.644);
    }
    25%{
      color: white
    }
    50%{
      color: rgba(137, 43, 226, 0.247);
    }
    75%{
       color: rgba(137, 43, 226, 0.589);
    }
    100%{
       color: blueviolet;
    }
}

/*############_________MEDIA QUERY______________####################*/
@media (max-width: 500px)
{
    html{
        font-size: 8px;
    }

    .photo-gallary {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}

